<h1 class='title'>About Us</h1>

<div class='prompt prompt1'>
  <p>We are a group of college students (Chloe, Rachel and Christos), studying computer science,
    and we understand how overwhelming life can be. For that reason we decided to create a website that
    can support us during hard times. It aims at reminding us of all the beautiful things in life.<br><br>
    We help you reach inner peace by encouraging you to be grateful (one of the steps towards peace).
    We understand that daily life is overwhelming and when asked the question, "What are you grateful for?",
    you might have 1000 or 0 things on your mind. We need you to know that both and anything in between
    is completely normal. <strong>Things get better.</strong> There are so many good things in this world,
    and being grateful for the ones you care about the most will help you relax.
  </p>
</div>

<h1 class='title'>Why Gratitude?</h1>
<div class='prompt prompt2'>
  <p>We focus on gratitude, because of the significant and fast impact it can have on your life.
  Being grateful for what you have allows you to identify new opportunities in life. In other words,
  too many people waste their time and opportunities being toxic and negative about their life.
  If you accept what you have, you automatically change your attitude towards the world
  and that gives you the right perspective to find happiness.
  </p>
</div>

<h1 class='title'>Our Vision</h1>

<div class='prompt prompt3'>
  <p> We want this website to become a safe-heaven for people. A place where they can
    escape from all the negativity in the everyday life, and share with others their
    stories and experiences. A spiritual gateway to individual enlightenment. A place
    where we can turn to when we get confused about life.
  </p>
</div>
