<div class='header'>
  <h1 class='gratitude-title'>The Great Space</h1>
  <div class="instructions text-center">
    <p>What are you grateful for? Reflect on this question below. Your submission will be visible to all visitors of this site. Scroll down to see some examples.</p>
  </div>
</div>

<form action='/formSubmission' method='POST' class="d-flex justify-content-center">
  <div class='gratefulnessForm shadow-lg p-3 mb-5'>

    <div class="form-group">
      <div class='question'>
          <label for="answer"> What are you grateful for?</label>
          <textarea class="input" placeholder="I am grateful for ... " name="body" id='answer'></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class='question'>
        <label for="answer"> Your first name:</label>
        <input class="input" type="text" placeholder="Bob" name="first_name" id='answer'>
      </div>
    </div>

    <div class="form-group">
      <div class='question'>
        <label for="answer"> Where are you writing from?</label>
        <input class="input" type="text" placeholder="Davidson, NC" name="location" id='answer'>
      </div>
    </div>

    <div class='question'>
      <button type='submit' id='submitButton' class='btn btn-primary btn-lg'>Send gratitude!</button>
    </div>
  {{!-- </div> --}}
    </form>
    <div class="question">
      <a style="width: fit-content; margin: 2% auto;" href="/prompts" class="btn btn-primary btn-lg stuck">Stuck? Click here for some gratitude prompts!</a>
    </div>
  </div>

<div class='gratefulnessPost'>
  <p> One thing about my family I am grateful for is my brother, because he spends time teaching me how to play the piano.</p>

  <p class='signOff'>Posted by George from Utrecht, Netherlands, on April 28</p>
</div>

<div class='gratefulnessPost'>
  <p> One thing about earth I am grateful for is the sun, because it makes me feel alive.</p>

  <p class='signOff'>Posted by Nicole from Davidson, North Carolina, on April 29</p>
</div>

<script>
  // getUsers();
  async function getUsers(){
    const response = await fetch('/authentication');
    const data = await response.json();
    for (item of data) {
      const root = document.createElement('div');
      const username = document.createElement('div');
      username.textContent = data // item.user1.answers.q1
      root.append(username);
      document.body.append(root)
    }
  }
</script>
</body>

</html>
