<h1 class='title'>To be here, it means you are overwhelmed. It is ok. Do not worry, we all feel that way sometimes.
  There is nothing to be stressed about. Just relax. We will follow some simple steps together and deal with this situation.
</h1>

<div class='steps'>
  <p class=panic_exercise_prompt> Inhale counting to 5, hold counting to 5 and exhale counting to 5. Repeat this 5 times. <br></p>
  <p>Explanation: You feel overwhelmed and your body tries to cope, for that reason your heart rate increases, you might be sweating, maybe shaking or trembling.
    It is ok. Take some deep breaths and try to relax. This allows your brain to get oxygenized and focus on the moment.
  </p>
</div>

<div class='steps'>
  <p class='panic_exercise'>Now we will do a simple exercise, aimed at guiding you through realizing you have everything under control.</p>

  <ul>
  <li> Identify <strong>5</strong> things you can see. </li>
  <li> Identify <strong>4</strong> things you can touch. </li>
  <li> Identify <strong>3</strong> things you can hear. </li>
  <li> Identify <strong>2</strong> things you can smell. </li>
  <li> Identify <strong>1</strong> thing you can taste. </li>
</ul>

  <p>Explanation: Feeling overwhelmed is influenced by the illusion of loss of control. By identifying things you can sense, you guide yourself
  to realizing that you still are in control.
</p>
<br>
</div>
<br>
<div class='steps'>
  <p class=panic_exercise_prompt> Close your eyes and imagine friendly space. Imagine yourself in that place, feel the calmness and safety you feel.
    You can do that for as long as you feel the need to. <br></p>
  <p>Explanation: Transferring mentally yourself to a familiar and positive place is expected to detach you from your
    present discomfort, and associate your present with past calming and pleasant memories.</p>
    <br>
</div>
<br>

<div class='steps'>
  <p class=panic_exercise_prompt> After the attack, it is important to reflect. You could keep a journal in order to document down your overwhelming experiences. <br></p>
  <p>Explanation: Documenting your experiences, gives the opportunity to identify triggers, meaning noticing what thought or behavior/action precedes
    them? If we understand the thought or behavior that triggers them we may be able to give the answer to those panic attacks and
    soothe them. Although it is not a wide-spread belief, some argue that panic attacks are one of your mind's way of communicating
    with you. If we understand what is causing them, we can work on that and then they have no reason to be present in our life.

  </p>
    <br>
</div>
