
<h1 class='gratitude-title'>Gratitude</h1>

<form action='/formpromptsubmission' method='POST'>

  <div class='promptsGratefulnessForm center'>
    <br>


    <div class='question form-group'>
      <label for="answer"> One thing about earth:</label>
      <br>
      <textarea class="input" type="text" placeholder="Example: I am grateful for... because ..." name="body1" id='answer'></textarea>
    </div>


    <div class='question form-group'>
      <label for="answer"> One thing about my family:</label>
      <br>
      <textarea class="input" type="text" placeholder="Example: I am grateful for... because ..." name="body2" id='answer'></textarea>
    </div>

    <div class='question form-group'>
      <label for="answer"> One thing about my friends:</label>
      <br>
      <textarea class="input" type="text" placeholder="Example: I am grateful for... because..." name="body3" id='answer'></textarea>
    </div>

    <div class='question form-group'>
      <label for="answer"> One thing about my job/school:</label>
      <br>
      <textarea class="input" type="text" placeholder="Example: I am grateful for... because..." name="body4" id='answer'></textarea>
    </div>

    <div class='question form-group'>
    <label for="answer"> Your first name:</label>
    <br>
    <input class="input" type="text" placeholder="Bob" name="first_name" id='answer'>
    </div>

    <div class='question form-group'>
    <label for="answer"> Where are you writing from?</label><br>
    <input class="input" type="text" placeholder="Davidson, NC" name="location" id='answer'>
    </div>
  <br>
    <div class='question'>
      <button type='submit' id='submitButton' class='btn btn-primary btn-lg'>Submit</button>
    </div>
    <br>
  </div>
</form>
