
<form action='/formSubmission' method='POST'>

  <div class='promptsGratefulnessForm center'>
    <br>

    <div class='question'>
        <label for="answer"> <strong>One</strong> thing about earth I am grateful for is:</label>
        <input class="input" type="text" placeholder="roses because ..." name="name" id='answer'>
    </div>

    <div class='question'>
      <label for="answer"> <strong>One</strong> thing about my family I am grateful for is:</label>
      <input class="input" type="text" placeholder="my mom because ..." name="q1" id='answer'>
    </div>

    <div class='question'>
      <label for="answer"> <strong>One</strong> thing about my friends I am grateful for is:</label>
      <input class="input" type="text" placeholder="that they accept me for who I am" name="q2" id='answer'>
    </div>

    <div class='question'>
      <label for="answer"> <strong>One</strong> thing about my job/school I am grateful for is:</label>
      <input class="input" type="text" placeholder="the mental support groups present on campus" name="q3" id='answer'>
    </div>

    <div class='question'>
    <label for="answer"> Your first name:</label>
    <input class="input" type="text" placeholder="Bob" name="q3" id='answer'>
    </div>

    <div class='question'>
    <label for="answer"> Where are you writing from?</label>
    <input class="input" type="text" placeholder="Davidson, North Carolina" name="q3" id='answer'>
    </div>

    <div class='question'>
      <button type='submit' id='submitButton' class='button'>Save and submit your answers</button>
    </div>
    <br>
  </div>
</form>
